*{
    margin: 0;
}
body{
     margin: 0;
     padding: 0;
}
.sidebar{
    background-color: gainsboro;
    height: 657px;
    width: 20px;
    left: 350px;
    position: relative;
}
.drama{
    position: relative;
    top: 60px;
    right: 232px;
    font-size: 40px;
}
.plus{
    position: relative;
    top: -641px;
    left: -122px;
    color: white;
    font-size: 17px;
    background-color: #0b3853;;
}
.plus:hover{
    background-color:grey;
}
.secondpart{
    background-color: whitesmoke;
    height: 250px;
    top: -132px;
    width: 946px;
    margin-left: 22px;
    position: relative;
}

.text{
    margin-top: 2px;
    top: -130px;
    left: 20px;
    position: relative;
    width: 300px;
    height: 30px;
    text-align: center;
    border: 2px solid black;
    font-size: 20px;
}
.title{
    margin-top: -128px;
    bottom: -90px;
    height: 500px;
    width: 940px;
    margin-left: 25px;
}

.text:hover{
    background-color:#0b3853;
}

.note{
    margin-top: 2px;
    top: -550px;
    left: 5px;
    position: relative;
    background-color: #0b3853;
    color: white;
    justify-content: space-between;
    width: 340px;
    box-sizing: border-box;
    height: 50px;
    text-align: center;
    border: 2px solid black;
    font-size: 12px;
}
.note-footer{
    display: flex
    ;
}
.btn{
    top: -40px;
    position: relative;
    left: 152px;
}




























